<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="MyTestSuite" parallel="tests" thread-count="2"> <!-- Specify parallel execution for tests and set the thread count -->

    <listeners>
        <listener class-name="TestComponent.Listeners" />
    </listeners>

    <test name="MyTestCase1">
        <parameter name="browser" value="chrome"/> <!-- Specify "chrome" for the browser parameter -->
        <classes>
            <class name="FrameWorkTestClass.Assignment1"/>
        </classes>
    </test>

    <test name="MyTestCase2">
        <parameter name="browser" value="chrome"/> <!-- Specify "chrome" for the browser parameter -->
        <classes>
            <class name="FrameWorkTestClass.Assignment2"/>
        </classes>
    </test>

</suite>
